<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h3>AsiliTech</h3>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span class="spacer"></span>
        <div>
            <ng-template [ngIf]="true">
                <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">LogIn</button>
                <button mat-raised-button color="primary" routerLink="/register"
                    routerLinkActive="active">Register</button>
            </ng-template>
            <button mat-raised-button color="primary" (click)="logOut()" *ngIf="false">Logout</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>