<div class="welcome-container">
    <h1 style="font-weight: 600;">Welcome to Asili Tech Ardhi</h1>
    <p style="font-size: 20px;">Your go-to platform for all <strong>property ownership details and history</strong> in Tanzania. Safeguard your real estate transactions by easily searching for property owners, ensuring transparency and preventing scams. <strong>Register your properties effortlessly with the government</strong>, enhancing their credibility and facilitating smooth buying and selling processes. Stay informed and <strong>track your tax obligations</strong> with ease, empowering yourself as a property owner. Join AsiliTech Ardhi now for a secure, efficient, and trustworthy real estate ecosystem.</p>

    <div class="buttons-container">
        <button mat-raised-button color="primary" class="hover-button" style="height: 200px; width: 200px;" routerLink="/search">
            <mat-icon style="font-size: 70px; margin: 0; height: 100px; width: 100px;">search</mat-icon>
            Search for Property
        </button>
        <button mat-raised-button color="primary" class="hover-button" style="height: 200px; width: 200px;" routerLink="/register">
            <mat-icon style="font-size: 70px; margin: 0; height: 100px; width: 100px;">add</mat-icon>
            Register Property
        </button>
        <button mat-raised-button color="primary" class="hover-button" style="height: 200px; width: 200px;" routerLink="/tax">
            <mat-icon style="font-size: 70px; margin: 0; height: 100px; width: 100px;">attach_money</mat-icon>
            Make Tax Payments
        </button>
    </div>
</div>
  